<!--
George McMullen
Jan 28 2021
Main view for COACH.DATING
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COACH.DATING</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item logo">
            <a class="nav-link" href="http://coach.dating"><h1>COACH.DATING</h1></a>
        </li>
    </ul>
</nav>

<div class="row">
    <div class="column">
        <div class="container">
            <img id="promotional2" src="../images/match.jpg">
        </div>
    </div>
    <div class="column">
        <img id="promotional" src="../images/promotional.jpg">
    </div>
</div>

<p>hhhh</p>


</body>
</html>