<!--
George McMullen
Jan 28 2021
Main view for COACH.DATING
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COACH.DATING</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

<a class="nav-link login" href="login"><h1>Login</h1></a>

<a class="nav-link" href="http://coach.dating"><h1>COACH.DATING</h1></a>

<img id="promotional" class="promotional" src="images/promotional.jpg">

<br>

<a class="nav-link text"><h1>Coach Simulates<br>The Match<br>Before You Date</h1></a>

<img id="promotional2" class="promotional" src="images/match.jpg">

<!-- <img src="images/white.jpg" class="white"> -->


</body>
</html>