body {
    background-color: black;
}

h1 {
    color: white;
}


a.nav-link {
    text-decoration: none;
}

.promotional {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.white {
    margin: 100px 0px 0px 0px;
    width: 100%;
    height: 300px;
}

.text {
    text-align: center;
}

.login {
    display: inline;
    float: right;
}